@import "syntax-variables";

.syntax--keyword.syntax--control {
  color: @orange;
}

.syntax--keyword.syntax--operator {
  color: @syntax-text-color;
}

.syntax--keyword.syntax--other.syntax--special-method {
  color: @blue;
}

.syntax--keyword.syntax--other.syntax--unit {
  color: @orange;
}

.syntax--keyword.syntax--import {
  color: @purple;
}

.syntax--keyword.syntax--import + .syntax--entity,
.syntax--keyword.syntax--import + .syntax--entity .syntax--punctuation.syntax--definition.syntax--entity {
  color: @purple;
}

.syntax--numeric + .syntax--keyword.syntax--unit {
  color: @pink;
}
