@import "syntax-variables";

.markup.bold {
  color: @orange;
  font-weight: bold;
}

.markup.changed {
  color: @green;
}

.markup.deleted {
  color: @red;
}

.markup.italic {
  color: @purple;
  font-style: italic;
}

.markup.heading,
.markup.heading .punctuation.definition.heading {
  color: @purple;
}

.markup.inserted {
  color: @green;
}

.markup.list {
  color: @red;
}

.markup.quote {
  color: @orange;
}

.markup.link {
  color: @light-orange;
}

.markup.code,
.markup.code .support.gfm {
  color: @light-aqua;
}

.markup.code .source {
  color: @syntax-text-color;
}

.markup.raw.inline {
  color: @green;
}
