@import "syntax-variables";

.syntax--markup.syntax--bold {
  color: @purple;
  font-weight: bold;
}

.syntax--markup.syntax--changed {
  color: @green;
}

.syntax--markup.syntax--deleted {
  color: @red;
}

.syntax--markup.syntax--italic {
  color: @purple;
  font-style: italic;
}

.syntax--markup.syntax--heading,
.syntax--markup.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
  color: @purple;
}

.syntax--markup.syntax--inserted {
  color: @green;
}

.syntax--markup.syntax--list {
  color: @red;
}

.syntax--markup.syntax--quote {
  color: @orange;
}

.syntax--markup.syntax--link {
  color: @light-orange;
}

.syntax--markup.syntax--code,
.syntax--markup.syntax--code .syntax--support.syntax--gfm {
  color: @light-aqua;
}

.syntax--markup.syntax--code .syntax--source {
  color: @syntax-text-color;
}

.syntax--markup.syntax--raw.syntax--inline {
  color: @green;
}
