.syntax--punctuation.syntax--definition.syntax--variable,
.syntax--punctuation.syntax--definition.syntax--parameters,
.syntax--punctuation.syntax--definition.syntax--array {
  color: @syntax-text-color;
}

.syntax--punctuation.syntax--definition.syntax--heading,
.syntax--punctuation.syntax--definition.syntax--identity {
  color: @blue;
}

.syntax--punctuation.syntax--definition.syntax--bold {
  color: @light-orange;
  font-weight: bold;
}

.syntax--punctuation.syntax--definition.syntax--italic {
  color: @purple;
  font-style: italic;
}

.syntax--punctuation.syntax--section.syntax--embedded {
  color: darken(@red, 10%);
}

.syntax--punctuation.syntax--definition.syntax--variable.syntax--php {
  color: @purple;
}

.syntax--punctuation.syntax--section.syntax--embedded.syntax--begin.syntax--php,
.syntax--punctuation.syntax--section.syntax--embedded.syntax--end.syntax--php {
  color: @pink;
}
